#time {
	color: #ffffcc;
	font-family: 'Bebas Kai', 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 72px;
}

#clock {
	width:680px;
	height:100px;

	position: absolute;
	top: 0;
	bottom: 300;
	right: 0;
	left: 0;

	margin: auto;
}

 #footer { 
 	position: fixed;
 	bottom: 20;
 	width: 200px;
 	height: 50px;
	opacity: 0.03;
}

#footer:hover {
	opacity: 0.5;
}

#settings {
	opacity: 0.5;
	visibility: hidden;
	background-color: #ffffff;
	width: 200px;
	height: 300px;
	position: fixed;
 	bottom: 80;
}