h2 {
	color: #ffffcc;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 64px;
}

#clock {
	width:680px;
	height:100px;

	position: absolute;
	top: 0;
	bottom: 300;
	right: 0;
	left: 0;

	margin: auto;
}